@font-face {
  font-family: 'Exo 2' ;
  src: url(fonts/Exo2-Regular.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2' ;
  src: url(fonts/Exo2-SemiBold.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background-color: #74C1E4;
  color: #FFF4E6;
}

html {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

.checkbox {
  display: none;
}



.container {
  margin: 0 auto;
  max-width: 1200px;
  /* border: 5px solid red; */
  display: grid;
  overflow: hidden;
  grid-auto-rows: 1.5fr 1.4fr;
  height: 100vh;
  grid-template-columns: none;
  background: #262B3C;
  gap: 1px;
}

.action-container {
  position: relative;
  display: grid;
  grid-template-rows: 40px 1fr;
}

/*==============Header===============*/

.icon {
  fill: #FFF4E6;
  width: 20px;
  height: 20px;
  transition: all .2s ease-out;
}

.--icon-chat:hover {
  fill: #0E9BBB;
}

.--icon-delete {
  fill: #CA4C57;
  height: 20px;
  width: 17px;
  transition: all .2s ease-out;
}

.--icon-delete:hover {
  fill: #F67A84;
}

.root-menu--mobile {
  display: none;
  height: 40px;
}

.label-btn {
  display: grid;
}


/* Скрывает крестик у пк версии */
.--hide-pc {
  display: none;
}

.--hide-pc:hover {
  background: #D65068;
}

.--close-btn {
  background: #CA4C57;
}


.--burger {
  background-image: url(img/бургер.svg);
  background-repeat: no-repeat;
  background-position: center;
}




.root-menu {
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* height: 45px; */
}

.root-menu__butt-end {
  display: grid;
  align-items: center;
  background-color: #2D3246;
  padding: 0 40px;
  height: 40px;
}



.main-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  background-color: #2C63E1;
  grid-gap: 5px;
}

.main-nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3E75D7;
  transition: .5s ease;
  cursor: pointer;
}

.main-nav__btn > img {
  height: 20px;
}


.main-nav__btn:hover {
  background: #4E85E5;
}

.main-nav__btn:active {
  background: #2D3246;
}

/* костылик чтоб при наведении мышкой иконка не исчезала */
.--burger:hover {
  background-image: url(img/бургер.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.--fight:active {
  background: #2D3246;
  transition: .2s
}

.root-menu__profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: center;
}

.root-menu__avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url(img/avatar.png);
  background-size: cover;
}

.header__link {
  text-decoration: none;
  color: #fff;
  margin: 0px 0px 0px 20px;
}

.root-menu__setting-box {
  display: flex;
  /* display: grid; */
  align-items: center;
  justify-content: space-between;
  /* grid-template-columns: repeat(3,auto); */
  /* grid-column-gap: 45px; */
}

.time-text {
  font-size: 14px;
}

.root-menu__butt-end img {
  height: 20px;
}

.profile-name {
  font-weight: 600;
  font-size: 20px;
}

/*==============Main===============*/

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.view-art {
  background-image: url(img/25d60b1a2d96fbb4de2580984cdf7fd9.jpg);
  background-size: cover;

  /* object-fit: cover; */
}

.game__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0px;
  font-size: 14px;
  background: #3E75D7;
  width: 165px;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 15px;
  padding: 6px;
  justify-items: center;
  align-content: center;
  background-color: #2D3246;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Компонет оконных заголовков  */
.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D3246;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
}

/* мод тайтла для распихивания по краям */
.--sb {
  justify-content: space-between;
}

.title__btn-close {
  display: none;
}

/*==============Chat===============*/

.bottom-content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  overflow: hidden;
  gap: 1px;
}


.chat-wrap {
  display: grid;
  grid-template-columns: 60px 1fr;
  overflow: hidden;
}


.chat {
  display: grid;
  grid-auto-rows: min-content 1fr;
  overflow: hidden;
}


/* компонент фона---тут смесь логики ??? */
.chat-area {
  overflow: auto;
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
  background: #252638;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px -4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.bottom-input-wrap {
  display: flex;
  gap: 5px;
  background: #2D3246;
  /* box-shadow: 3px -4px 4px rgba(0, 0, 0, 0.25); */
  /* height: 60px; */
  padding: 5px;
}

.main-input {
  display: grid;
  grid-template-columns: 1fr min-content;
  background: #31334A;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15), inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  flex-grow: 1;
  height: 35px;
}

input {
  display: flex;
  padding: 0 10px 0 10px;
  outline: none;
  border: none;
  color: #fff;
  background: none;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  width: 100%;
}

input::placeholder {
  font-size: 15px;
  color: #A3A6AA;
}

.main-input__box-icon {
  display: flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  align-self: center;
  cursor: pointer;
}

.--search-icon  {
  cursor: text;
}


.--search-icon > img {
  width: 20px;
  height: 20px;
  /* background: rgba(240, 230, 210, 0.5); */
}

.chat__message-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 20px;
}

.chat__avatar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url(img/avatar.png);
  background-size: cover;
}

.chat__clan {
  position: relative;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  background-image: url(img/Klan.png);
  background-size: cover;
  border-radius: 100%;
  border: 1px solid #252638;
  bottom: 2px;
  left: 5px;
}

.chat__message {
  display: grid;
  grid-gap: 5px;
}

.message__name-time {
  display: flex;
  gap: 5px;
  align-items: center;
}

.message-nickname {
  color: #C8FF6D;
  font-weight: 600;
}

.message-time {
  font-size: 12px;
  padding: 2px 0px 0px;
}

.chat__message-text {
  line-height: 130%;
  letter-spacing: -0.015em;
}

.dialogs__message-text {
  font-size: 15px;
}

.message-answer {
  display: flex;
  gap: 5px;
  padding: 0px 0px 0px 14px;
  margin-bottom: 5px;
}

.message-answer__wrap {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.message-answer__avatar {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url(img/avatar.png);
  background-size: cover;
}

.message-answer__nickname {
  font-size: 15px;
}


.addmsg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: #3E75D7;
  border-radius: 100px;
  padding: 10px 10px 10px 15px;
}



.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 35px;
  width: 40px;
}

.--social-btn > img {
  height: 16px;
  width: 32px;
}

.--chat-btn,
.--social-btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*==============player-list===============*/

.player-list__wrap {
  display: grid;
  grid-template-columns: 1fr 60px;
  /* border: 5px solid green; */
  overflow: hidden;
}

.player-list {
  display: grid;
  grid-auto-rows: min-content 1fr;
  overflow: hidden;
  background-color: #2D3246;
}

.light-bg {
  background: #2D3246;
  
  box-shadow: -1px 0px 0px #202030, inset 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px -4px 4px rgba(0, 0, 0, 0.15);
  padding: 5px;
  overflow: auto;
}

.social-block {
  display: grid;
}

.dialogs-block {
  display: grid;
  gap: 5px;
}

.list-box-wrap {
  display: grid;
}

.list-box__title {
  font-size: 14px;
  padding: 10px 0px;
}

.list-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 5px;
  background: #2B2F42;
  cursor: pointer;
  transition: .5s ease;
  font-size: 15px;
  border-left: 5px solid #2B2F42;
}

.player-list__item:hover {
  border-left: 5px solid #4B538C;
  transition: all .2s ease-out;
}

.player-list__item > img {
  height: 20px;
  width: 20px;
  /* fill: #00DF4C; */
}


.player-list__player {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.player-list__avatar {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url(img/avatar.png);
  background-size: cover;
}

.player-list__label {
  position: relative;
  width: 10px;
  height: 10px;
  background: #2EC76A;;
  border: 1px solid #66F8A0;
  border-radius: 100%;
  bottom: 3px;
  left: 3px;
}



/*==============Диалоги===============*/

.dialogs-list {
  /* display: grid; */
  grid-auto-rows: min-content 1fr;
  overflow: hidden;
  background-color: #2D3246;
  display: none;
}

.dialogs-list__item {
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2B2F42;
  cursor: pointer;
  border-left: 5px solid #2B2F42;
}

.--notification {
  justify-content: center;
  align-items: center;
}

.notification-box {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  height: 30px;
}

.notification-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #3A3F61;
  border-radius: 100%;
  padding-bottom: 1px;
}

.dialogs-list__player {
  display: flex;
  align-items: center;
  gap: 13px;
}

.dialogs-list__item:hover {
  border-left: 5px solid #4B538C;
  transition: all .2s ease-out;
}

.--new-dialogs {
  background: #3D4256;
  border-left: 5px solid #3D4256;
  /* border-left: 5px solid #333853; */
  /* background: #333853; */
}

/*-------------------------------------*/

/* ==== Чат диалогов ==== */

.dialogs-chat-wrap {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  /* border: 5px solid red; */
  padding: 10px;
  z-index: 99;
}

.dialogs-chat {
  display: grid;
  grid-auto-rows: min-content 1fr;
  height: 100%;
  width: 700px;
}

.dialogs-chat__title {
  height: 40px;
  background: #2D3246;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.dialogs-chat__area {
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: #252638;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px -4px 4px rgba(0, 0, 0, 0.15);
  padding: 5px;
  gap: 5px;
}

.dialogs-chat__message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background: #3A3F61;
}

.dialogs-chat__message-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialogs-chat__message-time {
  font-size: 12px;
  align-self: end;
}

.--my-message-bg {
  background: #613A48;
}

.--my-message-name {
  color: #FF8250;
}

.new-message-label {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  color: rgba(240, 230, 210, 0.5);
  font-size: 14px;
}

.dialogs-chat__btn-close {
  cursor: pointer;
}
/*==============@Media===============*/


@media (max-width: 1000px) {

  .--hide-pc {
    display: grid;
  }



  .title__btn-close {
    display: block;
  }

  .--social-btn,
  .--chat-btn {
    display: flex;
  }

/* переставляет блоки лок и персов под картинку */
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "b b";
    grid-auto-rows: 1fr;
  }

  .view-art {
    grid-area: b;
  }


/* ==== Для основного меню ==== */

  .root-menu--mobile {
    display: grid;
  }

  .root-menu {
    right: 100%;
    /* position: relative; */
    transition: all .3s ease-out;
    position: absolute;
    /* right: -1000px; */
    /* display: none; */
    /* transition:.5s ease */
    /* width: 0%; */
  }

  /* Удаляет кнопку боя */
  .root-menu>.main-nav>label {
    display: none;
  }

  /* делает менюху плиткой */
  .root-menu>.main-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* увеличивает размер кортинок у конпок */
  .root-menu>.main-nav img {
    height: 50px;
  }


  /* ==== для нижнего блока чат + социум ==== */

  /* удаляет нижний блок чат + социум в моб версии */
  .bottom-content {
    display: none;
  }

  /* для диалогов */

  .dialogs-list>.main-title {
    justify-content: space-between;
  }

  /* через медиа , для того чтоб в пк версии не ломалась верстка */

  /* Удаляет блок чата */
  #toggle--dialogs-btn:checked~.bottom-content>.chat-wrap {
    display: none !important;
  }

  /* Удаляет панель навигации у социального блока */
  #toggle--dialogs-btn:checked~.bottom-content>.player-list__wrap>.main-nav {
    display: none;
  }

  /* выстраивает социальный блок в 1 колонку */
  #toggle--dialogs-btn:checked~.bottom-content>.player-list__wrap {
    grid-template-columns: 1fr;
  }

  /* удаляет игровой экран */
  #toggle--dialogs-btn:checked~.action-container {
    display: none;
  }

  /* Удаляет основное меню
  #toggle--dialogs-btn:checked~.action-container .root-menu--mobile {
    display: none;
  } */

  /* в место него добавляет контейнер чата + социум*/
  #toggle--dialogs-btn:checked~.bottom-content {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }

  /* дя чата диалогов */

  /* убирает падинги */
  .dialogs-chat-wrap {
    padding: 0;
  }

  /* Удаляет контейнер чата + социум */
  #toggle--dialogs-chat-btn:checked~.bottom-content {
    display: none !important;
  }
  /* добавляет икровой контейнер */
  #toggle--dialogs-chat-btn:checked~.action-container {
    display: grid !important;
  }
}
/* в горезонтальной ареинтации перестовляет блоки лок и персов по краям */
@media (orientation: landscape) {
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "a b c";
  }

  .locations {
    grid-area: a;
  }

  .npc {
    grid-area: c;
  }

  .game__link {
    width: 135px;
    font-size: 11px;
  }
}

/*=----- Инпуты для иметации функционала -----=*/

/* Для кнопки боя */

/* красит активную кнопку боя в пк и моб версии*/
#toggle--fight-btn:checked~.action-container .--fight {
  background: #2D3246;
}

#toggle--fight-btn:checked~.action-container .--fight {
  background: #2D3246;
}

/* для бургера */

/* меняет бургер на крестик и красит эктив*/
#toggle--burger-btn:checked~.action-container .--burger {
  background: #2D3246;
  background-image: url(img/крестик.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* удаляет игровой экран при клике на бургер */
#toggle--burger-btn:checked~.action-container .main {
  display: none;
}

/* в место него добавляет меню */
#toggle--burger-btn:checked~.action-container .root-menu {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  position: static;
  /* right: 0; */
  /* width: 100%; */
  /* position: relative; */

}

/* отсупы для плитки меню */
#toggle--burger-btn:checked~.action-container .root-menu>.main-nav {
  gap: 10px;
  padding: 10px;
}


/* для чата */

/* Удаляет основное меню */
#toggle--chat-btn:checked~.action-container .root-menu--mobile {
  display: none;
}

/* удаляет игровой экран */
#toggle--chat-btn:checked~.action-container {
  display: none;
}

/* в место него добавляет контейнер чата + социум*/
#toggle--chat-btn:checked~.bottom-content {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* выстраивает чат в 1 колонку */
#toggle--chat-btn:checked~.bottom-content>.chat-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
}

/* Удаляет окно социума */
#toggle--chat-btn:checked~.bottom-content>.player-list__wrap {
  display: none;
}


/* ==== Кнопки переключения чатов ====*/

/* --- Мир ---*/

/* красит активную кнопку мир-чата в пк и моб версии*/
#toggle-сhat-world-btn:checked~.bottom-content .--сhat-world-btn {
  background: #2D3246;
}

/* Удаляет чаты торга и клана */
#toggle-сhat-world-btn:checked~.bottom-content .--сhat-trading {
  display: none;
}

#toggle-сhat-world-btn:checked~.bottom-content .--сhat-clan {
  display: none;
}


/* --- Торговый ---*/

/* красит активную кнопку торг-чата в пк и моб версии*/
#toggle-сhat-trading-btn:checked~.bottom-content .--сhat-trading-btn {
  background: #2D3246;
}

/* Удаляет чаты мира и клана */
#toggle-сhat-trading-btn:checked~.bottom-content .--chat-world {
  display: none;
}

#toggle-сhat-trading-btn:checked~.bottom-content .--сhat-clan {
  display: none;
}


/* --- Клан --- */

/* красит активную кнопку клан-чата в пк и моб версии*/
#toggle-сhat-clan-btn:checked~.bottom-content .--сhat-clan-btn {
  background: #2D3246;
}

/* Удаляет чаты мира и торга*/
#toggle-сhat-clan-btn:checked~.bottom-content .--chat-world {
  display: none;
}

#toggle-сhat-clan-btn:checked~.bottom-content .--сhat-trading {
  display: none;
}



/* для социума */

/* Удаляет основное меню */
#toggle--social-btn:checked~.action-container .root-menu--mobile {
  display: none;
}

/* удаляет игровой экран */
#toggle--social-btn:checked~.action-container  {
  display: none;
}

/* в место него добавляет контейнер чата + социум*/
#toggle--social-btn:checked~.bottom-content {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* удаляет чат */
#toggle--social-btn:checked~.bottom-content>.chat-wrap {
  display: none;
}

/* добавляет окно социума */
#toggle--social-btn:checked~.bottom-content>.player-list__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
}

/* меняет порядок расположения блоков */
#toggle--social-btn:checked~.bottom-content>.player-list__wrap>.player-list {
  order: 1;
}




/* ==== Кнопки переключения социума ====*/

/* --- Мир ---*/

/* красит активную кнопку Мир-социума в пк и моб версии*/
#toggle-social-world-btn:checked~.bottom-content .--social-world-btn {
  background: #2D3246;
}

/* Удаляет списки друзья, клана, администрация */
#toggle-social-world-btn:checked~.bottom-content .--social-friends {
  display: none;
}

#toggle-social-world-btn:checked~.bottom-content .--social-clan {
  display: none;
}

#toggle-social-world-btn:checked~.bottom-content .--social-administration {
  display: none;
}

/* --- Друзья ---*/

/* красит активную кнопку Друзья-социума в пк и моб версии*/
#toggle-social-friends-btn:checked~.bottom-content .--social-friends-btn {
  background: #2D3246;
}

/* Удаляет списки мир, клана, администрация */
#toggle-social-friends-btn:checked~.bottom-content .--social-world {
  display: none;
}

#toggle-social-friends-btn:checked~.bottom-content .--social-clan {
  display: none;
}

#toggle-social-friends-btn:checked~.bottom-content .--social-administration {
  display: none;
}

/* --- Клан ---*/

/* красит активную кнопку Клан-социума в пк и моб версии*/
#toggle-social-clan-btn:checked~.bottom-content .--social-clan-btn {
  background: #2D3246;
}

/* Удаляет списки мир, друзья, администрация */
#toggle-social-clan-btn:checked~.bottom-content .--social-world {
  display: none;
}

#toggle-social-clan-btn:checked~.bottom-content .--social-friends {
  display: none;
}

#toggle-social-clan-btn:checked~.bottom-content .--social-administration {
  display: none;
}

/* --- Администрация ---*/

#toggle-social-administration-btn:checked~.bottom-content .--social-administration-btn {
  background: #2D3246;
}

/* Удаляет списки мир, друзья, клан */
#toggle-social-administration-btn:checked~.bottom-content .--social-world {
  display: none;
}

#toggle-social-administration-btn:checked~.bottom-content .--social-friends {
  display: none;
}

#toggle-social-administration-btn:checked~.bottom-content .--social-clan {
  display: none;
}


/* для диалогов */

/* Удаляет основное меню --мобила*/
#toggle--dialogs-btn:checked~.root-menu--mobile {
  display: none;
}


/* добавляет окно социума */
#toggle--dialogs-btn:checked~.bottom-content>.player-list__wrap {
  display: grid;
}

/* Удаляет блок списка игроков */
#toggle--dialogs-btn:checked~.bottom-content .player-list {
  display: none;
}



/* добавляет блок списка диалогов */
#toggle--dialogs-btn:checked~.bottom-content .dialogs-list {
  display: grid;
}


/* остальная логика для диалогов в медиазапросах */


/* Для чата диалогов */

#toggle--dialogs-chat-btn:checked~.action-container .dialogs-chat-wrap {
  display: flex;
}

/* ------------------------------------------- */






/*=============================*/

/*=============================*/
