body {
	margin: 0;

	font-size: 16px;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Container
====================*/

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	
}

/* Header
====================*/

.header {
	width: 100%;
	height: 77.5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #333;
	padding: 30px 0;
	align-items: center;
} 

/* Nav
====================*/

.nav {
	font-weight: normal;
	display: flex
}

.nav_link {
	margin-left: 72px;
	color: #333;
	text-decoration: none;
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:hover {
	text-decoration: underline;
}

/* Intro
====================*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 700px;
	padding-top: 77.5px;
	
}

/* Button
====================*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 22px 67px;
	
	border-radius: 32px;
	border: 0;
	cursor: pointer;
	
	text-decoration: none;
	color: #333;
}


.btn--color {
	background-color: orange;
}

.btn--color:hover {
	background-color: darkorange;
}

/* Catalog
====================*/

.catalog {
	display: flex;
	flex-wrap: wrap;
	margin: 0 ;
	min-height: 700px;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
}

.grid {
	width: 25%;
	height: 350px;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	cursor: pointer;
}

/* Delivery
====================*/

.delivery {
	display: flex;
	height: 700px;
	border: 1px solid #333;
	border-top: none;
}


/* Contacts
====================*/

.contacts {
	display: flex;
	height: 700px;
	border: 1px solid #333;
	border-top: none;
}


/* Product map
====================*/

.product_map {
	display: flex;
	height: 700px;
	border: 1px solid #333;
	padding-top: 77.5px;
	
}

/* Сетка
====================*/
.item {
  background-color: #F3D8D9;
  display:flex;
  justify-content: center;
  align-items: center;
}


.item:before {
  content:(list);
}

.box {
 display: grid; 
 height: 3000px;
 grid-template-columns: repeat(12, 1fr);
 grid-gap: 30px;
  margin-left: 150px;
  margin-right: 150px;
	z-index: 1;
  
}



.box2 {
	display: grid;
	grid-template-columns: 15px 1fr 15px;
	background-color: #F3D8D9;
}

